on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  glados-checkin:
    name: glados checkin
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt update && sudo apt install -y jq
      - run: |
          message=$(curl 'https://glados.cloud/api/user/checkin' \
            --compressed \
            -X POST \
            -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:147.0) Gecko/20100101 Firefox/147.0' \
            -H 'Accept: application/json, text/plain, */*' \
            -H 'Accept-Language: en-US,en;q=0.9' \
            -H 'Accept-Encoding: gzip, deflate' \
            -H 'Content-Type: application/json;charset=utf-8' \
            -H 'Origin: https://glados.cloud' \
            -H 'Connection: keep-alive' \
            -H "$GLADOS_COOKIE" \
            -H 'Sec-Fetch-Dest: empty' \
            -H 'Sec-Fetch-Mode: cors' \
            -H 'Sec-Fetch-Site: same-origin' \
            -H 'Priority: u=0' \
            -H 'TE: trailers' \
            --data-raw '{"token":"glados.cloud"}'
          )
          echo "$message" | jq
          code=$(echo "$message" | jq '.code')
          exit $code
        env:
          GLADOS_COOKIE: ${{ secrets.GLADOS_COOKIE }}
